.product-container {
  background: #f7f7f7;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.product-inner-wrapper {
  width: 100%;
  max-width: 1024px;
  text-align: left;
  display: inline-block;
  margin: 0px 3.5%;
}

.product-top {
  margin-bottom: 20px;
}