.product-sizes {
  box-sizing: border-box;
  margin-bottom: 30px;
}

.product-sizes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-sizes ul li {
  text-transform: uppercase;
  font-size: .65em;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  border: solid 2px #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 36px;
  box-sizing: border-box;
  margin: 0px 3px;
}

.product-sizes ul li:first-child {
  margin-left: 0;
}

.active-size {
  border-color: #222;
  background: #222;
}

.stock-low,
.stock-high {
  color: #222;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.stock-low:hover {
  background: rgba(0, 0, 0, 0.1);
}

.stock-out {
  color: rgba(0, 0, 0, 0.15);
  cursor: default;
}