@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
}

header nav,
footer {
  font-family: 'Lato', sans-serif;
}

.ar-icon {
  overflow: hidden;
  display: inline-block;
  background: url('http://localhost:8080/app/public/images/interface-sprite.png');
  background-repeat: no-repeat;
  text-indent: -99999px;
}

/* Fade transition on re-render of a component */
.fade-enter {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-leave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 300ms ease-in-out;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}