@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
}

header nav,
footer {
  font-family: 'Lato', sans-serif;
}

.ar-icon {
  overflow: hidden;
  display: inline-block;
  background: url('https://github.com/aleciavogel/aritzia-redesign/blob/master/app/public/images/interface-sprite.png?raw=true');
  background-repeat: no-repeat;
  text-indent: -99999px;
}

/* Fade transition on re-render of a component */
.fade-enter {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-leave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 400ms ease-in-out;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}


/* Discount Code */
#free-code {
  background: #a0dd9b;
  text-align: center;
}

#free-code .free-code-wrapper {
  width: 100%;
  max-width: 950px;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 0.03em;
}

#free-code .free-code-wrapper h2 {
  margin: 0px 0px 10px;
}

#free-code .free-code-wrapper p {
  margin-bottom: 5px;
  margin-top: 5px;
}

#end-of-code {
  display: inline-block;
  margin-top: 40px;
}