.product-size-title {  
  font-size: 0.65em;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.product-size-title span {
  font-weight: 600;
  color: #333;
}

.product-size-title a {
  margin-left: 15px;
  color: #888;
  text-decoration: none;
  padding-bottom: 2px;
  margin-bottom: -2px;
  border-bottom: solid 1px #888;
  display: inline-block;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.product-size-title a:hover {
  color: #222;
  border-bottom: solid 1px #222;
}

.product-sizes {
  box-sizing: border-box;
  margin-bottom: 30px;
}

.stock-low,
.stock-high {
  color: #222;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-sizes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-sizes ul li {
  text-transform: uppercase;
  font-size: .63em;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  border: solid 2px #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 36px;
  box-sizing: border-box;
  margin: 0px 3px;
}

.product-sizes ul li:first-child {
  margin-left: 0;
}

.product-sizes ul li.active-size {
  border: solid 2px #222;
  background: #222;
  color: #fff;
}

.product-sizes ul li.active-size:hover {
  border: solid 2px #555;
  background: #555;
}

.stock-low:hover {
  background: rgba(0, 0, 0, 0.1);
}

.product-sizes ul li.stock-out {
  background: transparent !important;
  color: rgba(0, 0, 0, 0.15) !important;
  border: solid 2px #ddd !important;
  cursor: default !important;
}