.product-info {
  display: inline-block;
  width: 100%;
  max-width: 1400px;
}

.product-info-tabs {
  border: solid 1px #ddd;
  display: inline-block;
  background: white;
}

.product-info-tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  line-height: 1;
}

.product-info-tabs ul li {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}

.product-info-body {
  min-height: 400px;
  width: 100%;
  border-top: solid 1px #ddd;
  margin-top: -30px;
  padding-top: 50px;
  text-align: center;
}